.container {
border: 8px solid #016a26;
height: 260px;
display: flex;
align-items: center; /**this control item in cloumn top to bottom but changes when flex_direction is applied*/
justify-content: start; /*from left to right& in btw but changes when flex_direction is applied*/
flex-direction: column; /*flex direction is need to be able to still make use of
align-items and justify-content in a flex box*/



}


.item {
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid black;
    background: linear-gradient(#14463d, #016a26);
}